<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>邮件示例</title>
</head>
<body>
<p>欢迎您,<span style="color: red;" th:text="${username}"></span>!</p>
        <div id="mailContentContainer" class="qmbox qm_con_body_content qqmail_webmail_only" style="">
        <p>你好，zhuhua！</p>
        <p>欢迎加入果核剥壳！请点击以下链接验证电子邮箱来激活您的帐号：</p>
        <p><a href="https://www.ghpym.com/reg?approve=pending&amp;key=0t3BTrZyMa6Gpvkkpk7Q&amp;login=zhuhua" rel="noopener" target="_blank">https://www.ghpym.com/reg?approve=pending&amp;key=0t3BTrZyMa6Gpvkkpk7Q&amp;login=zhuhua</a></p>
        <p></p>
        <p>若这不是您本人要求的，请忽略本邮件，一切如常。</p>


</body>
</html>